body {
  padding-top: 50px;
}

.music-template {
  padding: 40px 15px;
}

.music-template  .header{
  text-align: center;
  width: 100%;
}

.searchInput{
  margin-bottom: 20px;
}

.searchInput .input-group {
  width: 100%;
}


.pager li {
  cursor: pointer;
}
