<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/angular-datatables/dist/css/angular-datatables.css">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/main.css">


  </head>
  <body ng-app="musicApp"  ng-controller="musicController">
    <div class="container">
        <div class="music-template">
          <div class="header">
            <h1>Music Tracks</h1>
          </div>

                    <div class="row">

                            <div class="col-lg-6 col-md-offset-3 searchInput">
                              <div class="input-group">
                                <input id="searchbox" type="text" class="form-control" placeholder="Search title" ng-model="searchSong">
                              </div>
                            </div>

                            <div class="col-lg-6 col-md-offset-3">
                              <ul class="list-group">
                                  <li class="list-group-item" ng-repeat="song in details | filter:searchSong" ng-click="editTrack($event,song)"><span class="badge">{{song.rating}}</span><strong>{{song.title}}</strong> &nbsp;[<span ng-repeat="genre in song.genres">{{genre.name}}{{$last ? '' : ($index==shifts.length-2) ? ' and ' : ' | '}}</span>]</li>
                              </ul>
                            </div>

                            <div class="col-lg-6 col-md-offset-3">
                                <button type="button" class="btn btn-default btn-lg btn-block" ng-click="addTrack($event)">Add New Track</button>
                            </div>

                            <div class="col-lg-6 col-md-offset-3">
                              <nav aria-label="...">
                              <ul class="pager">
                                <li ng-if="page.previous" ng-click="previous(page.previous)"><a>Previous</a></li>
                                <li ng-if="page.next" ng-click="next(page.next)"><a>Next</a></li>
                              </ul>
                              </nav>
                            </div>

                  </div>
        </div>
    </div>

  </body>
  <script id="panel.progress.dialog.html" type="text/ng-template">
    <div class="row">
       <div class="row">
          <div class="input-group">
            <input id="title" type="text" class="form-control" placeholder="title" ng-model="$root.song.title">
            <input id="rating" type="text" class="form-control" placeholder="rating" ng-model="$root.song.rating">

          </div>
       </div>
         <md-select  ng-model="$root.song.genres" multiple><md-option ng-repeat="genre in $root.genres" ng-value="genre.id">{{genre.name}}</md-option></md-select>
       <button ng-click="$root.save_data()">save</button>
    </div>
  </script>
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
  <script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
  <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="node_modules/angular-datatables/dist/angular-datatables.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</html>
